config_local.php
.vscode/settings.json
version
logs/*.log
index_test.php
version
views/resultats/extracts/*_FITA_*.html
views/resultats/extracts/*_FEDERAL_*.html
views/resultats/extracts/*_SALLE_*.html
views/resultats/extracts/classements/*.html
test_*.*
sql/
sql/backups/
docs/aide/
docs/articles/
docs/mandats/
*.xls
*.xlsx
*.pptx
*.csv
sql/csg_add_resultat_tables.sql
sql/csg_tiralarc_fr.sql
_poubelle/
*.pyftpsync-meta.json
*.zip
diagrams
.my-credentials
