<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">

        <meta name="google-site-verification" content="zMZruuZIUtZtlc0uFxU65oov4SrLYDEhLzYBU9veO4o" />
        
        <link rel="stylesheet" type="text/css" href="<?php echo(URL_CSS . 'bootstrap-4.1.0.min.css');?>"/>
        <link rel="stylesheet" type="text/css" href="<?php echo(URL_CSS . 'mdb-4.5.3.min.css');?>"/>
        <link rel="stylesheet" type="text/css" href="<?php echo(URL_CSS . 'bootstrap-datepicker3.css');?>"/>
        <link rel="stylesheet" type="text/css" href="<?php echo(URL_CSS . 'fontawesome-all.min.css');?>"/>
        <link rel="stylesheet" type="text/css" href="<?php echo(URL_CSS . 'bootstrap-table.min.css');?>"/>
        <link rel="stylesheet" type="text/css" href="<?php echo(URL_CSS . 'bootstrap-toggle-switch.css');?>"/>
        <link rel="stylesheet" type="text/css" href="<?php echo(URL_CSS . 'style.css');?>"/>
        <link rel="stylesheet" type="text/css" href="<?php echo(URL_CSS . 'bootstrap-4-navbar.css');?>"/>

        <script src="<?php echo(URL_JVS . 'jquery-3.3.1.min.js');?>"></script>
        <script src="<?php echo(URL_JVS . 'popper.min.js');?>"></script>
        <!-- <script src="<?php echo(URL_JVS . 'mdb-4.5.3.min.js');?>"></script> -->
        <script src="<?php echo(URL_JVS . 'bootstrap-4.1.0.min.js');?>"></script>
        <script src="<?php echo(URL_JVS . 'sweetalert2.all.min.js');?>"></script>
        <script src="<?php echo(URL_JVS . 'bootstrap-datepicker.min.js');?>"></script>
        <script src="<?php echo(URL_JVS . 'bootstrap-datepicker.fr.min.js');?>"></script>
        <script src="<?php echo(URL_JVS . 'bootstrap-table.min.js');?>"></script>
        <script src="<?php echo(URL_JVS . 'chart-2.7.2.min.js');?>"></script>
        <script src="<?php echo(URL_JVS . '../ckeditor/ckeditor.js');?>"></script>
        <script src="<?php echo(URL_JVS . 'bootstrap-4-navbar.js');?>"></script>
        
        
        <!-- TITRE & ICONE -->
		<title>CSG Tir à l'arc</title>
		<link rel='icon' type='image/xicon' href='<?php echo URL_PCT ?>favicon.ico' />

    </head>
    <body>
