<html>
    <head></head>
    <body>
        <div id='contenu' style='padding: 20px 20px 20px 20px;'>
            Bonjour,<br>
            Les départs suivants ne sont pas validés alors que le paiement à bien été envoyé.<br>
        </div>
        <br>
        <div id='listing' style='padding: 0px 20px 0px 20px;'>
            <table id='tableauInscrit' style='padding: 20px 10px 0px 10px;'>
                <caption style='text-align:center; font-size: x-large;' >Liste des départs à valider</caption>
                <tr>
                    %%arrTableau%%
                </tr>
            </table>
        </div>
        <div id='remerciements' style='padding: 10px 20px;'>
            Merci d'avance pour votre action.<br>
            Cordialement<br>
        </div>
        <div id='signature' style='text-align: right; padding: 30px 20px;'>
            Le robot d'inscription.
        </div>
    </body>
</html>