<html>
    <head>
        
    </head>
    <body>
        <!-- // Ajouter le fichier ICS en pièce jointe de ce mail -->
        <div id='contenu' style='padding: 20px 20px 20px 20px;'>
            Bonjour %%Prenom%% %%Nom%%,<br>
            %%MessageEntete%%
        </div>
        <br>
        <div id='listing' style='padding: 0px 20px 0px 20px;'>
            <table id='tableauInscrit' style='padding: 20px 10px 0px 10px;'>
                <caption style='text-align:center; font-size: x-large;' >Liste des concours</caption>
                <tr>
                    <th>n° départ</th>
                    <th>Discipline</th>
                    <th>Date du Concours</th>
                    <th>Départ du</th>
                    <th>Type de blason<br/>Type d'épreuve</th>
                    <th>Lieu du concours</th>
                </tr>
                <tr>
                    %%arrTableau%%
                </tr>
            </table>
        </div>
        <div id='question' style='padding: 30px 20px 10px 20px;'>
            %%MessageFooter%%
            Par mail : <a href="mailto:inscription@csg-tiralarc.fr"> inscription@csg-tiralarc.fr </a>
            <!-- Par Téléphone : 06.80.46.22.45 -->
            <br>
            <br>
            Vous pouvez télécharger les pièces jointes et les importer dans votre agenda préféré (Gmail, Outlook, ...) pour y créer automatiquement un rendez-vous.
        </div>
        <div id='remerciements' style='padding: 10px 20px;'>
            Merci d'avance de suivre ces recommandations.<br>
            Cordialement<br>
        </div>
        <div id='signature' style='text-align: right; padding: 30px 20px;'>
            Le président du club Sportif Gravenchonnais section Tir à l'arc.<br>
            Guy FASTAMMA
        </div>
    </body>
</html>