<html>
    <head>
        
    </head>
    <body>
        <div id='contenu' style='padding: 20px 20px 20px 20px;'>
            Bonjour,<br>
            La nouvelle version %%Version%% du site WEB du club a été installée.
        </div>
        <br>
        <div id='listing' style='padding: 0px 20px 0px 20px;'>
            <table id='tableauEvol' style='padding: 20px 10px 0px 10px;'>
                <caption style='text-align:center; font-size: x-large;' >Liste des évolutions</caption>
                <tr>
                    %%Notes%%
                </tr>
            </table>
        </div>
        <div id='question' style='padding: 30px 20px 10px 20px;'>
            Vous pouvez accéder à ce site WEB en cliquant sur le lien suivant : 
            <a href="http://csg-tiralarc.fr">http://csg-tiralarc.fr</a><br><br>
            Attention, je ne suis pas parfait et vous trouverez sûrement certain comportement bizarre, n'hésitez pas à me les remonter via le site !<br>
            Si vous souhaitez des améliorations, je suis preneur. Contactez-moi via le site, en mettant une description sommaire de ce que vous souhaitez et je prendrais contact avec vous pour plus d'explications.<br>
            <br>
            Pour me contacter, une fois loggué sur le site avec votre n° de licencié et votre mot de passe, cliquer sur la petite enveloppe à doite de "contactez-moi" tout en bas à droite de la page.<br>
        </div>
        <div id='remerciements' style='padding: 10px 20px;'>
            Merci d'avance pour votre compréhension.<br>
            Cordialement<br>
        </div>
        <div id='signature' style='text-align: right; padding: 30px 20px;'>
            L'admnistrateur de votre site Web.<br>
            SqualeDev
        </div>
    </body>
</html>