<html>
    <head></head>
    <body>
        <div id='contenu' style='padding: 20px 20px 20px 20px;'>
            Bonjour,<br>
            Le club du CSG souhaiterait inscrire au concours %%strDiscipline%% de %%strLieu%% qui se déroulera %%strDuree%% les licenciés suivants.
        </div>
        <br>
        <div id='listing' style='padding: 0px 20px 0px 20px;'>
            <div id='entete' style='padding: 0px 10px 50px 10px;'>
                Nom de la compagnie : CSG Tir à l'arc<br>
                Nom du responsable : Guy FASTAMMA<br>
                Tél : 06.78.45.52.94<br>
                Mail : <a href="mailto:president@csg-tiralarc.fr">president@csg-tiralarc.fr</a><br>
            </div>
            <table id='tableauInscrit' style='padding: 20px 10px 0px 10px;'>
                <caption style='text-align:center; font-size: x-large;' >Liste des participants</caption>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>n° Licence</th>
                    <th>Catégorie</th>
                    <th>Discipline</th>
                    <th>Départ</th>
                    <th>Blason/Distance</th>
                </tr>
                <tr>
                    %%arrTableau%%
                </tr>
            </table>
        </div>
        <div id='question' style='padding: 30px 20px 10px 20px;'>
            Pouvez-vous nous valider par mail la disponibilité des places s'il vous plaît 
            soit, en envoyant un mail à l'adresse mail <a href="mailto:inscription@csg-tiralarc.fr"> inscription@csg-tiralarc.fr </a>, 
            soit en répondant à ce mail (l'adresse de retour est déjà renseignée).<br>
            Suite à cette validation, nous vous enverrons un chèque par courrier postal pour confirmer cette inscription.<br>
        </div>
        <div id='remerciements' style='padding: 10px 20px;'>
            Merci d'avance pour votre réponse.<br>
            Cordialement<br>
        </div>
        <div id='signature' style='text-align: right; padding: 30px 20px;'>
            Le président du Club Sportif Gravenchonnais section Tir à l'arc.<br>
            Guy FASTAMMA
        </div>
    </body>
</html>