            <thead>
                <tr>
                    <th rowspan="2" colspan="2" style="vertical-align: middle; text-align: center;">
                        <span >Palmarès</span>
                    </th>
                    <th rowspan="2" style="vertical-align: middle; text-align: center;">Pl.</th>
                    <th colspan="4" style="vertical-align: middle; text-align: center;">Points</th>
                </tr>
                <tr>
                    <th style="vertical-align: middle; text-align: center;">Score 1</th>
                    <th style="vertical-align: middle; text-align: center;">Score 2</th>
                    <th style="vertical-align: middle; text-align: center;">Score 3</th>
                    <th style="vertical-align: middle; text-align: center;"><b>Moyenne</b></th>
                </tr>
            </thead>
